<header class="theme-main-menu menu-style-one sticky-menu">
    <div class="container-fluid">
        <div class="d-flex align-items-center">

            <!-- Logo -->
            <div class="logo">
                <a href="index.html">
                    <img src="images/assets/placera_logo.png" width="120">
                </a>
            </div>

            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg ms-lg-5 ms-3">
                <ul class="navbar-nav">

                    <!-- Category (signup extra) -->
                    <li class="nav-item signup-extra">
                        <a class="nav-link" href="#">Category</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="job.html">Job</a>
                    </li>

                </ul>
            </nav>

            <!-- Right actions -->
            <div class="right-widget ms-auto">
                <ul class="d-flex align-items-center style-none">

                    <!-- Post Job (signup extra) -->
                    <li class="signup-extra">
                        <a class="job-post-btn">Post Job</a>
                    </li>

                    <li>
                        <a class="login-link">Login</a>
                    </li>

                    <!-- Hire Top Talents (signup extra) -->
                    <li class="signup-extra">
                        <a class="btn-one">Hire Top Talents</a>
                    </li>

                    <!-- Toggle -->
                    <li>
                        <button id="themeToggle" class="theme-toggle">
                            <span class="toggle-thumb"></span>
                        </button>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</header>